body.elementor-kit-992 {color: #4d6075;font-size: 19.2px;font-weight: 400;line-height: 28.8px;}
body.elementor-kit-992 a {color: #1a98ee;}
body.elementor-kit-992 h1 {color: #101010;}
body.elementor-kit-992 h2 {color: #101010;font-size: 32px;font-weight: 700;line-height: 40px;letter-spacing: -.8px;}
body.elementor-kit-992 h3 {color: #101010;font-size: 28px;font-weight: 700;line-height: 35px;letter-spacing: -.7px;}
body.elementor-kit-992 h4 {color: #101010;font-size: 20px;line-height: 22px;}
body.elementor-kit-992 h5 {color: #101010;font-size: 20px;line-height: 25px;letter-spacing: -.5px;}
body.elementor-kit-992 h6 {color: #101010;}
.elementor-widget-theme-post-content h2, h3, h4, p {margin-top: 32px;}